<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Bienvenue sur le système ESI</h1>
    <p>Clique <a href="/auth/login">ici</a> pour te connecter.</p>
</body>
</html>